
h1 {

  color: greenyellow;
  font-family:'Courier New', Courier, monospace;
  font: bolder;
  font-style: normal;
  font-size: 2em;
  text-align: center;
}

body {

  /*background-image: url("images/eye.jpg"); */
  background-image: linear-gradient(rgba(0, 0, 255, 0.415), rgb(65, 65, 232), lightblue, white);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-position: center;
  font-size: 2em;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1; /* Ensure it's behind other content */
}


#comments {
  margin: 0 auto;
  padding: 10px;
  width: 600px;
  border: 2px;
  overflow-y: auto;
  font-size: small;
  text-align: center;
}

#commentInput {
  margin-top: 10px;
  font-size: 1.5em; /* increase the font size */
padding: 15x; /* increase padding */
margin-bottom: 20px;
text-align: center;
}

.submitComment:click
{
  background-color: #ceffcd;
}

/* Style to place buttons on separate lines */
.actionButtonContainer {
  display: block;
}
/* Updated CSS for button container */
#buttonContainer {
position: relative;
margin-top: 40px;
width: 400px; /* Adjust width as needed */
height: 400px; /* Adjust height as needed */
}

.actionButton1 {
position: absolute;
width: 50px; /* Adjust button size as needed */
height: 50px; /* Adjust button size as needed */
background-color: #ccc; /* Adjust button color as needed */
cursor: pointer;
transition: background-color 0.3s;
text-align: center;
}

.actionButton2 {
  position: absolute;
  width: 50px; /* Adjust button size as needed */
  height: 50px; /* Adjust button size as needed */
  background-color: #ccc; /* Adjust button color as needed */
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  /*line-height: 40px; /* Center text vertically */
  font-size: 11px;
  border-radius: 50%; /* Make buttons circular */
  margin: auto; 
  display: block;
  margin-left: 765px;
  margin-top: -330px;
  border-color:greenyellow;
  }

  .actionButton3 {
    position: absolute;
    width: 50px; /* Adjust button size as needed */
    height: 50px; /* Adjust button size as needed */
    background-color: #ccc; /* Adjust button color as needed */
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    /*line-height: 40px; /* Center text vertically */
    font-size: 11px;
    border-radius: 50%; /* Make buttons circular */
    margin: auto; 
    display: block;
    margin-left: 698px;
    margin-top: -265px;
    border-color:greenyellow;
    }

    .actionButton4 {
      position: absolute;
      width: 50px; /* Adjust button size as needed */
      height: 50px; /* Adjust button size as needed */
      background-color: #ccc; /* Adjust button color as needed */
      cursor: pointer;
      transition: background-color 0.3s;
      text-align: center;
      /*line-height: 40px; /* Center text vertically */
      font-size: 11px;
      border-radius: 50%; /* Make buttons circular */
      margin: auto; 
      display: block;
      margin-left: 765px;
      margin-top: -203px;
      border-color:greenyellow;
      }

    .actionButton5 {
      position: absolute;
      width: 50px; /* Adjust button size as needed */
      height: 50px; /* Adjust button size as needed */
      background-color: #ccc; /* Adjust button color as needed */
      cursor: pointer;
      transition: background-color 0.3s;
      text-align: center;
      /*line-height: 40px; /* Center text vertically */
      font-size: 11px;
      border-radius: 50%; /* Make buttons circular */
      margin: auto; 
      display: block;
      margin-left: 630px;
      margin-top: -203px;
      border-color:greenyellow;
      }

    .actionButton6 {
      position: absolute;
      width: 50px; /* Adjust button size as needed */
      height: 50px; /* Adjust button size as needed */
      background-color: #ccc; /* Adjust button color as needed */
      cursor: pointer;
      transition: background-color 0.3s;
      text-align: center;
      /*line-height: 40px; /* Center text vertically */
      font-size: 11px;
      border-radius: 50%; /* Make buttons circular */
      margin: auto; 
      display: block;
      margin-left: 698px;
      margin-top: -385px;
      border-color:greenyellow;
      }

      .actionButton7 {
        position: absolute;
            width: 50px; /* Adjust button size as needed */
            height: 50px; /* Adjust button size as needed */
            background-color: #ccc; /* Adjust button color as needed */
            cursor: pointer;
            transition: background-color 0.3s;
            text-align: center;
            /*line-height: 40px; /* Center text vertically */
            font-size: 11px;
            border-radius: 50%; /* Make buttons circular */
            margin: auto; 
            display: block;
            margin-left: 580px;
            margin-top: -265px;
            border-color:greenyellow;
        }

        .actionButton8 {
          position: absolute;
            width: 50px; /* Adjust button size as needed */
            height: 50px; /* Adjust button size as needed */
            background-color: #ccc; /* Adjust button color as needed */
            cursor: pointer;
            transition: background-color 0.3s;
            text-align: center;
            /*line-height: 40px; /* Center text vertically */
            font-size: 11px;
            border-radius: 50%; /* Make buttons circular */
            margin: auto; 
            display: block;
            margin-left: 815px;
            margin-top: -265px;
            border-color:greenyellow;
          }

          .actionButton9 {
            position: absolute;
            width: 50px; /* Adjust button size as needed */
            height: 50px; /* Adjust button size as needed */
            background-color: #ccc; /* Adjust button color as needed */
            cursor: pointer;
            transition: background-color 0.3s;
            text-align: center;
            /*line-height: 40px; /* Center text vertically */
            font-size: 11px;
            border-radius: 50%; /* Make buttons circular */
            margin: auto; 
            display: block;
            margin-left: 698px;
            margin-top: -150px;
            border-color:greenyellow;
            }

            .actionButton10 {
              position: absolute;
              width: 50px; /* Adjust button size as needed */
              height: 50px; /* Adjust button size as needed */
              background-color: #ccc; /* Adjust button color as needed */
              cursor: pointer;
              transition: background-color 0.3s;
              text-align: center;
              /*line-height: 40px; /* Center text vertically */
              font-size: 11px;
              border-radius: 50%; /* Make buttons circular */
              margin: auto; 
              display: block;
              margin-left: 970px;
              margin-top: -140px;
              border-color:greenyellow;
              }

.actionButton1:hover {
background-color: greenyellow; /* Adjust hover color as needed */
}

.actionButton2:hover {
background-color: greenyellow; /* Adjust hover color as needed */
}

.actionButton3:hover {
 background-color: greenyellow; /* Adjust hover color as needed */
}

.actionButton4:hover {
background-color: greenyellow; /* Adjust hover color as needed */
}

.actionButton5:hover {
background-color: greenyellow; /* Adjust hover color as needed */
}

.actionButton6:hover {
background-color: greenyellow; /* Adjust hover color as needed */
}

.actionButton7:hover {
background-color: greenyellow; /* Adjust hover color as needed */
}

.actionButton8:hover {
background-color: greenyellow; /* Adjust hover color as needed */
}

.actionButton9:hover {
background-color: greenyellow; /* Adjust hover color as needed */
}

.actionButton10:hover {
background-color: greenyellow; /* Adjust hover color as needed */
}

.controlPad {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 80px;
  width: 200px;
}

.camera {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top:-300px;
}

.camera2 {
width: 100px;
height: 100px;
display: block;
margin-left: auto;
margin-right: auto;
margin-right: 420px;
margin-top: -120px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
